<nav *ngIf="loggedInStatus" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Solicitudes App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Menú para solicitantes -->
        <li class="nav-item" *ngIf="isSolicitante()">
          <a class="nav-link" routerLink="/createCreditRequest" routerLinkActive="active">Crear Solicitud</a>
        </li>
        <li class="nav-item" *ngIf="isAnalista()">
          <a class="nav-link" routerLink="/viewCreditRequest" routerLinkActive="active">Ver Solicitudes</a>
        </li>

        <!-- Menú para analistas -->
        <li class="nav-item" *ngIf="isAnalista()">
          <a class="nav-link" routerLink="/manageCreditStatus" routerLinkActive="active">Gestionar Estados</a>
        </li>
      </ul>

      <!-- Usuario y logout a la derecha -->
  <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item me-2" *ngIf="userName">
          <span class="navbar-text text-white">
            {{ userName }}
          </span>
        </li>
        <li class="nav-item" *ngIf="userName">
          <button class="btn btn-outline-light btn-sm" (click)="logout()">Cerrar sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
